.logo {
    padding-left: 1em;
    padding-top: 2em;
    padding-bottom: 1.5em;
}

li a {
    text-decoration: none;
    color: white;
}

.balance-div {
    width: 10em;
    height: 8em;
    background: linear-gradient(to top left, #33ccff -2%, #ff99cc 99%);
    border-radius: 12px;
    margin-left: 2.5em;
    margin-top: 10em;
}

.balance-div h5 {
    text-align: center;
    padding-top: 15px;
    font-size: 12px;
    color: #e9e0e0;
}

.inline-text {
    font-size: 19px;
    color: white;
}

.bal-btn {
    padding: 8px;
    display: flex;
    margin-left: 19px;
    border-radius: 8px;
    border: 1px solid white;
}

.main-sidebar {
    padding: 15px;
}

.connect-btn {
    height: 35px;
    border-radius: 2em;
    font-weight: bold;
    width: 10em;
    padding: 8px;
    background: linear-gradient(to top left, #33ccff -2%, #ff99cc 99%);
    cursor: pointer;
}

.sigin-btn{
    margin-top: 25px;
    margin-left: 4px;
}