.logo {
    padding-left: 1em;
    padding-top: 0em;
    padding-bottom: 1.5em;
}

li span {
    text-decoration: none;
    color: white;
}

.balance-div {
    width: 11em;
    height: 8em;
    background: linear-gradient(to top left, #33ccff -2%, #ff99cc 99%);
    border-radius: 12px;
    margin-left: 1.5em;
    margin-top: 8em;
    margin-right: 1em;
    padding:0px 10px;
}

.balance-div h5 {
    text-align: center;
    padding-top: 15px;
    font-size: 12px;
    color: #e9e0e0;
    margin-bottom: 0px;
}

.inline-text {
    font-size: 22px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}

.bal-btn {
    padding: 8px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid white;
    align-items: center;
}

.main-sidebar {
    padding: 15px;
   min-width: 236px;
}

.sidebar-options{
    list-style-type: none;
}

.sidebar-options i{
    margin-right: 1em;
    color:#fff;
}

.bal-btn-text{
    font-weight: 600;
    font-size: 12px;
}

.bal-btn .fa-plus-circle{
    color:blue
}

.eth-div{
    text-align:center;
    color:#fff;
    font-size: 11px;
    margin: 6px 0px;
}

.eth-div .fa-ethereum{
    color:rgb(0, 0, 0);
}

.eth-icon{
    background: #fff;
    font-size: 9px;
    padding: 2px 5px;
    border-radius: 10px;
    margin-right: 5px;
}

.main-sidebar .hamburger-div{
    justify-content: end;
}

.main-sidebar .hamburger-div svg{
   margin-left:auto;
} 
.sidebar-options li{
    margin: 11px 0px;
    padding: 6px 0px;
}

.sidebar-options .active-tab i,.sidebar-options .active-tab span{
    color:#989898;
}
.pointer{
    cursor: pointer;
}

.connect-btn {
    height: 35px;
    font-weight: bold;
    border-radius: 2em;
    width: 10em;
    padding: 8px;
    background: linear-gradient(to top left, #33ccff -2%, #ff99cc 99%);
    cursor: pointer;
}

.sigin-btn{
    margin-top: 25px;
    margin-left: 4px;
    position: relative;
}

.address-text{
    position: relative;
}

.address-text::before{
    background: rgb(5 189 7);
    padding: 4px;
    position: absolute;
    border-radius: 10px;
    top: 11px;
    left: 9px;
    content: "";
}

.address-text .fa-angle-down{
    position: absolute;
    right: 9px;
    top: 10px;
}

.addressDropdown{
    position: absolute;
    background: #3b4560;
    width: 134px;
}

.disconnect-wallet{
    font-weight: bold;
    font-size: 14px;
    color: rgb(208 53 71);
    text-align: center;
    padding: 9px 0px;
}