.centred {
  position: fixed;
  /* or absolute */
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.btn {
  border: none;
  background-color: #037dd6;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%), 0 1px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar {
  min-width: 20em;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  /* grid-template-columns: 0fr 1fr; */
}

.header-title h1 {
  color: white;
  font-weight: 600;
  width: 8em;
  margin-top: 28px;
  margin-bottom: 24px;
  padding-bottom: unset;
  font-size: 40px;
}

.header-btn {
  position: relative;
  bottom: 12px;
}

.header-btn .button1 {
  border-radius: 2em;
  padding:8px 27px;
  background: linear-gradient(to top left, #33ccff -2%, #ff99cc 99%);
  font-weight: 600;
}

.header-btn .button1:hover {
  opacity: .88;
}

#player{
  border-radius: 26px !important;
  overflow: hidden !important;
}


.header-btn .button2 {
  border-radius: 2em;
  padding: 8px 24px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 600;
  margin-left: 11px;
}

.header-btn .button2:hover {
  opacity: 1;
}

.header-title {
  background-image: url(./assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 0fr 1fr 3fr;
  height: 16em;
}



.list-btn {
  background-color: #6a61611a;
  width: 11em;
  border-radius: 2em;
  color: #7d52e0;
  font-size: 14px;
  padding: 5px 10px;
  border: none;
  font-weight: 600 !important;
  cursor: pointer;
}

.logoframe {
display: flex;
justify-content: center;
align-items: center;
}

.logoframe iframe {
  border: none;
  height: 100%;
  width: 18em;
  border-radius: 66px;
}

.sub-content {
  background-color: #f4f3f3;
  /* width: 100%;
  height: 100%; */
  padding: 2.7em;
  height: 66vh;
  overflow-y: scroll;
  position: relative;
}

.hamburger-div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 1em;
}

.pointer {
  cursor: pointer;
}

.inner-section {
  width: 100%;
}

.header-text-div {
  margin-left: 42px;
  margin-right: 13px
}

button{
  outline: none;
}


@media (max-width:800px) {
  .sidebar {
    flex-direction: column;
  }

  .card-split {
    grid-template-columns: 0.3fr 0.3fr !important;
  }

  .cards {
    padding: 0.5em !important;
    margin: unset !important;
    text-align: center;
  }

  .header-title{
    grid-template-columns: 1fr !important;
    height: unset !important;
  }

  .inline-controls{
    grid-template-columns: unset !important;
  }

  .input-field{
    margin-left: 10px !important;
  }

  .inline-mint{
    padding: unset !important;
    text-align: unset !important;
  }

  .card-split-invent{
    grid-template-columns: 1fr !important;
  }
}